body {
  background: linear-gradient(135deg, #FFC0CB, #B0E0E6); 
  font-family: Raleway, sans-serif;
  color: #666;
  height: 100vh; 
  margin: 0;
}

.login {
  margin: 20px auto;
  padding: 40px 50px;
  max-width: 300px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 1px #666;
}
  .login input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 6px 8px;
    font-size: 14px;
    border-radius: 7px;
    font-family: Raleway, sans-serif;
  }

.login input,
.login input[type=password] {
  border: 1px solid #c0c0c0;
  transition: .2s;
  background: rgba(255, 255, 255, 0.6);
}

.login input:hover {
  border-color: #3678f4;
  outline: none;
  transition: all .2s ease-in-out;
} 

.login input[type=submit] {
  border: none;
  background:#3678f4;
  color: white;
  transition: 0.2s;
  padding: 10px;
}

.login input[type=submit]:hover {
  background: #538bf3;  
  cursor: pointer;
}

  .login h2 {
    margin: 20px 0 0; 
    color: #fff;
    font-size: 28px;
  }

.login p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;  
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
  cursor: pointer;
}

  .login h2,
  .login p,
  .login a {
    text-align: center;    
    padding-top: 25px;
  }

.login a {
  text-decoration: none;  
  font-size: .8em;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}
